{# Modal formulaire pour modifier un utilisateur #}
{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}

    <button class="btn btn-primary">Mettre à jour</button>
{{ form_end(form) }}