{# Tableau de gestion des utilisateurs #}
<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="h5 mb-0">Liste des utilisateurs</h2>
  <a href=#
     class="btn btn-success btn-sm"
     id="btn-add-user">
    + Nouvel utilisateur
  </a>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Roles</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>UE Codes</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.entity.email }}</td>
        <td>{{ user.entity.roles|join(', ') }}</td>
        <td>{{ user.entity.name }}</td>
        <td>{{ user.entity.surname }}</td>
        <td>{{ user.ueCodes|join(', ') }}</td>
        <td>
          <a class="btn btn-sm btn-info show-button-user"
             href="{{ path('app_user_admin_show', { id: user.entity.id }) }}">
            Voir
          </a>
          <a class="btn btn-sm btn-primary edit-button-user"
             href="#"
             data-user-id="{{ user.entity.id }}">
            Modifier
          </a>
          {{ include('user_admin/_delete_form.html.twig', { user: user.entity }) }}
        </td>
      </tr>
    {% else %}
      <tr>
        <td colspan="6" class="text-center">Aucun utilisateur</td>
      </tr>
    {% endfor %}
  </tbody>
</table>