{{ form_start(form, {
  attr: {
    id: 'userForm',
    novalidate: 'novalidate'
  }
}) }}

  <div class="mb-3">
    {{ form_label(form.email) }}
    {{ form_widget(form.email, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.email) }}
  </div>

  <div class="mb-3">
    {{ form_label(form.password) }}
    {{ form_widget(form.password, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.password) }}
  </div>

  <div class="mb-3">
    {{ form_label(form.name) }}
    {{ form_widget(form.name, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.name) }}
  </div>

  <div class="mb-3">
    {{ form_label(form.surname) }}
    {{ form_widget(form.surname, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.surname) }}
  </div>

  <button type="submit" class="btn btn-primary">Modifier</button>

{{ form_end(form) }}
