{# templates/user_admin/show.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détails de l’étudiant{% endblock %}

{% block body %}
  <h1>Détails de l’étudiant</h1>
  <table class="table">
    <tr><th>Email</th>    <td>{{ user.email }}</td></tr>
    <tr><th>Nom</th>      <td>{{ user.name }}</td></tr>
    <tr><th>Prénom</th>   <td>{{ user.surname }}</td></tr>
    <tr><th>Roles</th>    <td>{{ user.roles|join(', ') }}</td></tr>
  </table>
  <a href="{{ path('app_admin_dashboard') }}" class="btn btn-secondary">
    ← Retour à la liste
  </a>
{% endblock %}
