{# templates/ue_dashboard/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mes UE{% endblock %}

{% block body %}
 <div class="container my-5">
   <h1 class="mb-4">Mes UE</h1>
   <div class="row">
     {% for ue in ues %}
       <div class="col-md-4 mb-4">
         <div class="card h-100 shadow-sm">
           {% if ue.imagePath %}
             <img src="{{ ue.imagePath }}" class="card-img-top" alt="{{ ue.title }}">
           {% endif %}
           <div class="card-body d-flex flex-column">
             <h5 class="card-title">{{ ue.title }}</h5>
             <p class="card-text text-muted">{{ ue.code }}</p>
             <a href="{{ path('ue_show', {id: ue.id}) }}"
                class="btn btn-outline-primary mt-auto">
               Voir détails
             </a>
           </div>
         </div>
       </div>
     {% endfor %}
   </div>
 </div>
{% endblock %}
