{% extends 'base.html.twig' %}

{% block title %}Tableau de bord UE{% endblock %}

{% block body %}
<h1>Mes UE</h1>
<div data-controller="ue-dashboard">
  <ul id="ue-list">
    {% for ue in ues %}
      <li class="ue-item" data-ue-id="{{ ue.id }}">
        <strong>{{ ue.title }}</strong>
        <button class="btn btn-sm btn-primary"
                data-action="click->ue-dashboard#ouvrirModal">
          Ajouter un étudiant
        </button>
        <ul class="student-list">
          {% for inscription in ue.inscriptions %}
            <li data-user-id="{{ inscription.userId.id }}">
                {{ inscription.userId.name }} {{ inscription.userId.surname }}
            </li>
          {% else %}
            <li>Aucun étudiant</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>

   <div class="modal fade" id="ajoutEtudiantModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ajouter un étudiant</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <select class="form-select" data-ue-dashboard-target="etudiantSelect">
            {% for etudiant in etudiants %}
              <option value="{{ etudiant.id }}">{{ etudiant.name }} {{ etudiant.surname }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary"
                  data-action="click->ue-dashboard#validerAjout">
            Valider
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
