{% extends 'base.html.twig' %}
{% block title %}{{ u_e.code }} – {{ u_e.title }}{% endblock %}

{% block body %}
<div class="container my-5">
   <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 mb-0">
      {{ u_e.code }} – {{ u_e.title }}
    </h1>
{# {% if is_granted('ROLE_TEACHER') %} #}
  <button
    class="btn btn-primary mb-4"
    data-bs-toggle="modal"
    data-bs-target="#postModal"
    data-ue-id="{{ u_e.id }}"
    id="createPostButton"
  >
    Créer un nouveau post
  </button>
{# {% endif %} #}
  </div>
  <button
    class="btn btn-info mb-3"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#participants"
    aria-expanded="false"
    aria-controls="participants"
  >
    Afficher les participants
  </button>
  <div class="collapse" id="participants">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
        </tr>
      </thead>
      <tbody>
        {% for ins in u_e.inscriptions %}
          <tr>
            <td>{{ ins.userId.name }}</td>
            <td>{{ ins.userId.surname }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="2" class="text-center text-muted">Aucun étudiant.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <section class="mt-5">
    <a class="btn btn-secondary mt-4"
     href="{{ path('app_user_dashboard') }}">
    ← Retour au tableau de bord
    </a>
    <h2 class="h5 mb-3">Tous les posts</h2>
    <div class="d-flex flex-column gap-3"
         data-controller="post"
         data-post-target="list">
      {% for post in posts %}
        {% include 'post/item.html.twig' with { post: post } only %}
      {% else %}
        <p class="text-muted">Aucun post pour l’instant.</p>
      {% endfor %}
    </div>
  </section>
</div>


<div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postModalLabel">Créer un post</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
      </div>
      <div class="modal-body" id="postModalBody">
        <div class="text-center my-5">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Chargement...</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}