{% extends 'base.html.twig' %}
{% block title %}{{ u_e.code }} – {{ u_e.title }}{% endblock %}

{% block body %}
    <div class="bandeau">
        <a class="connexion" href="{{ path('app_user_dashboard') }}">Mes cours</a>
    </div>
<div class="container">
    <div class="rectangle">
   <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h3 mb-0">
      {{ u_e.code }} – {{ u_e.title }}
    </h1>

    {% if is_granted('ROLE_TEACHER') %}
      <a class="btn btn-primary"
         href="{{ path('app_post_new', { ue_id: u_e.id }) }}">
        Créer un nouveau post
      </a>
    {% endif %}
  </div>
  <button
    class="btn btn-info"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#participants"
    aria-expanded="false"
    aria-controls="participants"
  >
    Afficher les participants
  </button>
  <div class="collapse" id="participants">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
        </tr>
      </thead>
      <tbody>
        {% for ins in u_e.inscriptions %}
          <tr>
            <td>{{ ins.userId.name }}</td>
            <td>{{ ins.userId.surname }}</td>
          </tr>
        {% else %}
          <tr>
            <td colspan="2" class="text-center text-muted">Aucun étudiant.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <section class="mt-5">
    <a class="btn btn-secondary mt-4"
     href="{{ path('app_user_dashboard') }}">
    ← Retour au tableau de bord
    </a>
    <h2 class="h5 mb-3">Tous les posts</h2>
    <div class="posts-list"
         data-controller="post"
         data-post-target="list">
      {% for post in posts %}
        {% include 'post/item.html.twig' with { post: post } only %}
      {% else %}
        <p class="text-muted">Aucun post pour l’instant.</p>
      {% endfor %}
    </div>
  </section>
    </div>
</div>
{% endblock %}