{{ form_start(form) }}
    {{ form_row(form.code) }}
    {{ form_row(form.title) }}
    {{ form_row(form.imagePath) }}
    <button class="btn btn-primary">Mettre à jour l'UE</button>
{{ form_end(form) }}
