{{ form_start(form, {
  attr: {
    id: 'ueForm',
    novalidate: 'novalidate'
  }
}) }}

  <div class="mb-3">
    {{ form_label(form.code) }}
    {{ form_widget(form.code, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.code) }}
  </div>

  <div class="mb-3">
    {{ form_label(form.title) }}
    {{ form_widget(form.title, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.title) }}
  </div>

  <div class="mb-3">
    {{ form_label(form.imagePath) }}
    {{ form_widget(form.imagePath, { attr: { class: 'form-control' } }) }}
    {{ form_errors(form.imagePath) }}
  </div>

  <button type="submit" class="btn btn-primary">Créer</button>

{{ form_end(form) }}
