<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome !{% endblock %}</title>
    <link
        href="{{ asset('css/code.css') }}?v={{ random() }}"
        rel="stylesheet"
        integrity="sha384-..."
        crossorigin="anonymous"
    />
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-...your-integrity-value..."
        crossorigin="anonymous"
    />
    <link rel="stylesheet"
       href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
   
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="bandeau">
        <a class="connexion" href="{{ path('app_user_dashboard') }}">Mes cours</a>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="connexion" href="{{ path('app_login') }}">Login</a>
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="connexion connexion1" href="{{ path('app_logout') }}">Logout</a>
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            <a class="connexion connexion1" href="{{ path('app_admin_dashboard') }}">Espace Admin</a>
        {% endif %}



    {% if app.user %}
        <a href="{{ path('app_user_management', { 'id': app.user.id }) }}">
            <div class="user-avatar">
            {{ app.user.name|first|upper }}{{ app.user.surname|first|upper }}
            </div>
        </a>
    {% endif %}

</div>
    
    {% block body %}{% endblock %}

    {% block javascripts %}
        <script async src="https://ga.jspm.io/npm:es-module-shims@1.6.3/dist/es-module-shims.js"></script>
        <script type="module-shim">
import { Application } from 'https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3.2.2/dist/stimulus.js'
const application = Application.start()
// vos controllers Stimulus seront enregistrés dans chaque template qui en a besoin
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-..."
            crossorigin="anonymous"
        ></script>
        
    {% endblock %}
</body>
</html>