{{ form_start(form) }}

  <div id="champMessage">
    {{ form_row(form.message) }}
  </div>

  <div id="champFichier">
    {{ form_row(form.file_path) }}
  </div>

  <button class="btn btn-primary">
    {{ button_label|default('Enregistrer') }}
  </button>

{{ form_end(form) }}